
.myProfileInfo .prof-img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    cursor: pointer;
    transition: box-shadow .3s;
}


.myProfileInfo .prof-img:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.8); 
}

/*.myProfileInfo{ */

    /* outline: auto; */
  /* padding: 16px 32px; */
  /* text-align: center; */
  /* font-size: 16px; */
  /* margin: 4px 2px; */
    /* cursor: pointer; */
    /* border-radius: 5%; */

/* } */
