.app-cont{
     /* background: linear-gradient(to right, #E9E4F0, #D3CCE3); */

    /* background: linear-gradient(to right, #ffc0cb, #800080);  */

    background: linear-gradient(to right, #65e2cb, #ad9bff);
    font-family: 'PT Sans', sans-serif;
    min-height:100vh;
}

