.app-cont{
     /* background: linear-gradient(to right, #E9E4F0, #D3CCE3); */

    /* background: linear-gradient(to right, #ffc0cb, #800080);  */

    /* background: linear-gradient(to left, #65e2cb, #ad9bff); */
    
    /* background: rgb(34, 174, 255); */
    background: white;
    /* background: turquoise; */
    font-family: 'PT Sans', sans-serif;
    min-height:100vh;
}

