
.chatPageStyles .container{
    outline:auto;
    outline-color: blue;
}

.mainContainer{
    /* height:auto; */
    min-height:59rem;
    /* background-color:lightblue; */


    /* background: linear-gradient(to right, #E9E4F0, #D3CCE3); */

    /* background: linear-gradient(to right, #ffc0cb, #800080);  */

    /* background: linear-gradient(to left, #74ebd5, #acb6e5); */


}

/* .chatPageStyles .row {
    /* outline: auto; */
    /* outline-color: red; */
/* } */ */

.chatPageStyles .rowOne{
    height: 12%;
}

.chatPageStyles .rowTwo{
    height: 85%;
}

.chatPageStyles .contactLists{
    /* max-height: 70%; */
    padding-top: 20px;
    max-height: 43rem;
    overflow-y: auto;
}

.chatPageStyles .chatSection{
    height: 49rem;
    /* outline: auto; */
    position: relative;
    margin-left: 7px;
    padding-left: 7px;
    padding-top: 10px;;
}

.chatPageStyles .sendSection{
    position: absolute;
    width: 90%;
    /* height: 100px; */
    bottom: 10px;
    margin-left: 25px;
}


.chatPageStyles .textarea {
    /* height: 20px; */
    /* height: 75px; */
    /* resize: none; */
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    resize: none ;
    font-size: 20px;
    line-height: 24px;
    overflow: auto;
    height: auto;
    padding: 8px;
    box-shadow: 0px 4px 10px -8px black;
  }



  .chatPageStyles .textarea::placeholder{
      color: gainsboro;
  }

  .chatPageStyles .textarea:focus{
      outline: none;
  }





  .chatPageStyles .messageSection{
      padding-top: 10px;
      overflow-y: auto;
      max-height: 42rem;
  }


  .chatPageStyles .profileSection{
      height: 42rem;
      width:auto;
  }


  body.modal-open > :not(.modal) {
    -webkit-filter: blur(4px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(3px);
}


/* .sendMsgBtn{ */
    /* height: 43px;; */
    /* max-height: 55px; */
/* } */

/*
.sendMsgBtn:hover{
    background-color: #464653;
} */


.send-msg-spinner-cont{
    margin-right: 90px;
    margin-bottom: 80px;
}
.send-msg-spinner{
    float: right;
}


  /* scrollbar css */
  /* width */
  .chatPageStyles ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .chatPageStyles ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .chatPageStyles ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .chatPageStyles ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


