/* 
.chatPageStyles .container{
    outline:auto;
    outline-color: blue;
} */


/* .chatPageStyles .row {
    /* outline: auto; */
    /* outline-color: red; */
/* } */ */


/* .chatPageStyles .rowTwo{
    height: 85%;
} */

.chatPageStyles .contactLists{
    /* max-height: 70%; */
    padding-top: 20px;
    /* max-height: inherit; */
    overflow-y: auto;
}

.chatPageStyles .chatSection{
  
    /* height: 49rem; */
    /* outline: auto; */
    position: relative;
    /* margin-left: 7px;
    padding-left: 7px;
    padding-top: 10px;; */
}

.chatPageStyles .sendSection{
    position: absolute;
    width: 90%;
    /* height: 100px; */
    bottom: 25px;
    margin-left: 25px;
}


.chatPageStyles .textarea {
    height: 20px;
    height: 75px;
    resize: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #1890ff;
    border-width: 4px;
    border-radius: 10px;
    resize: none ;
    font-size: 20px;
    line-height: 24px;
    overflow: auto;
    height: auto;
    padding: 8px;
    box-shadow: 0px 4px 10px -8px black;
    
}

/* .chatPageStyles .search-textarea {
    border-bottom: 1px solid #1890ff;
    border-width: thin;
    
} */


textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}


  .chatPageStyles .textarea::placeholder{
      color: gainsboro;
  }

  .chatPageStyles .textarea:focus{
      outline: none;
  }

  
  .chatPageStyles .messageSection{
      padding-top: 10px;
      overflow-y: auto;
      /* max-height: 42rem; */
  }

  .chatPageStyles .scrollIconBtn{
      width: 40px;
      height: auto;
  }


  .chatPageStyles .profileSection{
      height: 42rem;
      width:auto;
  }


  body.modal-open > :not(.modal) {
    -webkit-filter: blur(4px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(3px);
}


/* .sendMsgBtn{ */
    /* height: 43px;; */
    /* max-height: 55px; */
/* } */

/*
.sendMsgBtn:hover{
    background-color: #464653;
} */


.send-msg-spinner-cont{
    margin-right: 90px;
    margin-bottom: 80px;
}
.send-msg-spinner{
    float: right;
}


  /* scrollbar css */
  /* width */
  .chatPageStyles ::-webkit-scrollbar {
    width: 6px;
    background: #c47272;
  }
  
  /* Track */
  .chatPageStyles ::-webkit-scrollbar-track {
    background: #faf6f6;
  }
  
  /* Handle */
  .chatPageStyles ::-webkit-scrollbar-thumb {
    background: rgb(223, 214, 214);
  }
  
  /* Handle on hover */
  .chatPageStyles ::-webkit-scrollbar-thumb:hover {
    
    background: rgb(219, 212, 212);
  }




  .blob-cont{

    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    padding: 10px;
    height: 3rem;
    width: 3rem;
    transition: background-color .5s, transform 2s;;
}



.send-blob-cont{

  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  padding: 10px;
  height: 3rem;
  width: 3rem;
  transition: background-color .5s, transform 2s;;
}



.send-blob-cont:hover{
    cursor: pointer;
}

.send-img{
  width: 1.8rem;
  height:1.8rem;
}

.blob-cont:hover{
    background: rgb(190, 97, 97);
    cursor: pointer;
}

/* .disable-blob-cont:hover{
    cursor: initial;
  } */

  .blob{
    /* background: black; */
   
    transform: scale(1);
    animation: pulse-blue 1s infinite;
}

.blob.blue {
    box-shadow: 0 0 0 0 rgb(82, 114, 255);
    animation: pulse-blue 1s infinite;
  }
  
  @keyframes pulse-blue {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(40, 156, 251, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 30px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  

  /****************Menu humberger ICon*/


  .my-dropdown-toggle:after {
    display: none;
}



.shit{

  background: -webkit-linear-gradient(323deg, rgb(226, 216, 154) 0%, rgb(152, 177, 137) 17%, rgb(154, 177, 123) 55%, rgb(231, 216, 125) 90%);
  background: -o-linear-gradient(323deg, rgb(226, 216, 154) 0%, rgb(152, 177, 137) 17%, rgb(154, 177, 123) 55%, rgb(231, 216, 125) 90%);
  background: -ms-linear-gradient(323deg, rgb(226, 216, 154) 0%, rgb(152, 177, 137) 17%, rgb(154, 177, 123) 55%, rgb(231, 216, 125) 90%);
  background: -moz-linear-gradient(323deg, rgb(226, 216, 154) 0%, rgb(152, 177, 137) 17%, rgb(154, 177, 123) 55%, rgb(231, 216, 125) 90%);
  background: linear-gradient(127deg, rgb(226, 216, 154) 0%, rgb(152, 177, 137) 17%, rgb(154, 177, 123) 55%, rgb(231, 216, 125) 90%);
}


.back-button{
  background: white;
  transition: .4s;
}
.back-button:hover{
  background: rgb(236, 236, 241);
}