.loginForm-cont{
    background-color: white;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    /* border:solid;
    border-color: none; */
    border-radius: 15px;
    /* height:auto; */
}
.loginReg-cont{
    min-height: 55rem;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center
}

.warning-message{
    color:red;
}

.success-message{
    color:green;
}


.loginReg-row{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 15px;
}